<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT_JSON" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
    </appender>

    <logger name="org.apache" level="WARN" />
    <logger name="kafka" level="WARN" />

    <root level="INFO">
        <appender-ref ref="STDOUT_JSON"/>
    </root>
</configuration>
